@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  // max-width: 1290px;
  min-width: 1290px;
  background-color: light;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  font-family: "PT Sans", sans-serif;
  color: #4c4b4f;
  h2 {
    text-transform: uppercase;
  }
  h3 {
    text-transform: uppercase;
  }
}
header {
  display: flex;
  width: 100%;
  justify-content: end;
  padding-right: 20rem;
  padding-top: 5rem;
  margin-bottom: -10rem;
  z-index: 1;
}

.info {
  margin: 1rem;
  border-radius: 25px;
  width: 23%;
  text-align: center;
  background-color: #efeef2;
  .me {
    margin-bottom: -3rem;
    &__pic {
      background: linear-gradient(-45deg, #efeef2 50%, #0084c7 50%);
      border-radius: 25px 25px 0 0;
      height: 400px;
      margin-bottom: -2rem;

      img {
        margin-top: 50px;
        width: 250px;
        border-radius: 50%;
      }
    }
    h1 {
      position: relative;
      top: -60px;
      width: 100%;
      text-align: center;
      font-size: 3rem;
      color: #0084c7;
      margin-bottom: 0;
    }
  }
  h3 {
    border-bottom: 3px solid #98979b;
    padding: 1rem 0;
    margin: 1rem;
  }
  .contact {
    padding-bottom: 3rem;
    &__btn {
      position: relative;
      top: 25px;
      text-decoration: none;
      padding: 1rem;
      border-radius: 25px;
      background-color: #0084c7;
      color: whitesmoke;
      &:hover {
        background-color: #3190c0;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
      }
    }
  }
  .languages {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    h3 {
      width: 100%;
    }
    &__text {
      width: 49%;
      ul {
        width: 100%;

        margin: auto;
        padding: 0;
        li {
          text-align: center;
          width: 100%;
          list-style: none;
          padding: 0.2rem;
        }
      }
    }
    &__progressBar {
      width: 49%;
      ul {
        width: 100%;
        margin: auto;
        padding: 0;
        .languages__progressBar--1 {
          position: relative;
          background: linear-gradient(-90deg, #9a9a9d 50%, #0084c7 50%);
          list-style: none;
          padding: 0.1rem;
          width: 90%;
          height: 3px;
          margin-bottom: 1.25rem;
          top: 5px;
        }
        li {
          position: relative;
          background: linear-gradient(-90deg, #9a9a9d 70%, #0084c7 30%);
          list-style: none;
          padding: 0.1rem;
          width: 90%;
          height: 3px;
          margin-bottom: 1.25rem;
          top: 5px;
        }
      }
    }
  }
  .logiciels {
    p {
      padding: 0 1rem;
    }
  }
  .reseaux {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h3 {
      width: 100%;
    }
    img {
      align-items: center;
      height: 50px;
      margin: auto;
      padding: 1rem;
    }
  }
}

.skills {
  width: 66%;
  padding: 3rem 1rem 1rem 1rem;
  margin: 1rem;
  background-color: #efeef2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    font-size: 2rem;
  }

  .intro {
    margin: 1.5rem;
    padding-bottom: 2rem;
    p {
      font-size: 1.1rem;
      padding: 1rem;
    }
  }
  h3 {
    border-bottom: 3px solid #98979b;
    padding: 1rem 0;
    width: 100%;
  }
  .experiences {
    margin: 1.5rem;
    &__step {
      display: grid;
      grid-template-areas:
        "one two two"
        ". three three"
        "for five five";
      grid-template-columns: 280px 1fr 1fr;
      grid-column-gap: 1rem;
      padding-bottom: 1rem;
      &--name {
        grid-area: one;
        margin: 0;
        padding: 0.5rem 0;
        height: 20px;
        text-align: end;
        font-weight: bolder;
      }
      &--title {
        margin: 0;
        padding: 0.5rem 0;
        font-weight: bolder;
        text-transform: uppercase;
        grid-area: two;
        height: 20px;
      }
      &--loc {
        margin: 0;
        color: #0084c7;
        grid-area: three;
        padding-bottom: 1rem;
      }
      &--years {
        margin: 0;
        text-align: end;
        grid-area: for;
      }
      &--desc {
        margin: 0;
        grid-area: five;
      }
    }
  }
  .hobbies {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    h3 {
      border-bottom: 3px solid #98979b;
      padding: 1rem 0;
      width: 100%;
    }
    &__content {
      display: flex;
      margin: auto;
      padding-top: 3rem;
      width: 70%;
      justify-content: space-between;
      &--act {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        img {
          width: 70px;
        }
      }
    }
  }
}
