@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  max-width: 1260px;
  min-width: 1440px;
  background-color: light;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  font-family: "PT Sans", sans-serif;
  color: #4c4b4f;
}
body h2 {
  text-transform: uppercase;
}
body h3 {
  text-transform: uppercase;
  border-bottom: 3px solid #98979b;
  padding: 1rem 0;
  margin: 1rem;
}

header {
  display: flex;
  width: 100%;
  justify-content: end;
  padding-right: 20rem;
  padding-top: 5rem;
  margin-bottom: -10rem;
  z-index: 1;
}

.info {
  margin: 1rem;
  border-radius: 25px;
  width: 23%;
  text-align: center;
  background-color: #efeef2;
}
.info .me {
  margin-bottom: -3rem;
}
.info .me__pic {
  background: linear-gradient(-45deg, #efeef2 50%, #0084c7 50%);
  border-radius: 25px 25px 0 0;
  height: 400px;
  margin-bottom: -2rem;
}
.info .me__pic img {
  margin-top: 50px;
  width: 250px;
  border-radius: 50%;
}
.info .me h1 {
  position: relative;
  top: -60px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #0084c7;
  margin-bottom: 0;
}
.info .bleu__ligne {
  width: 15%;
  height: 5px;
  margin-left: 43%;
  margin-top: -1.25rem;
  background-color: #0084c7;
}
.info .contact {
  padding-bottom: 3rem;
}
.info .contact__btn {
  position: relative;
  top: 25px;
  text-decoration: none;
  padding: 1rem;
  border-radius: 25px;
  background-color: #0084c7;
  color: whitesmoke;
}
.info .contact__btn:hover {
  background-color: #3190c0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}
.info .languages {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.info .languages h3 {
  width: 100%;
}
.info .languages__text {
  width: 49%;
}
.info .languages__text ul {
  width: 100%;
  margin: auto;
  padding: 0;
}
.info .languages__text ul li {
  text-align: center;
  width: 100%;
  list-style: none;
  padding: 0.2rem;
}
.info .languages__progressBar {
  width: 49%;
}
.info .languages__progressBar ul {
  width: 100%;
  margin: auto;
  padding: 0;
}
.info .languages__progressBar ul .languages__progressBar--1 {
  position: relative;
  background: linear-gradient(-90deg, #9a9a9d 50%, #0084c7 50%);
  list-style: none;
  padding: 0.1rem;
  width: 90%;
  height: 3px;
  margin-bottom: 1.25rem;
  top: 5px;
}
.info .languages__progressBar ul li {
  position: relative;
  background: linear-gradient(-90deg, #9a9a9d 70%, #0084c7 30%);
  list-style: none;
  padding: 0.1rem;
  width: 90%;
  height: 3px;
  margin-bottom: 1.25rem;
  top: 5px;
}
.info .logiciels p {
  padding: 0 1rem;
}
.info .reseaux {
  display: flex;
  flex-wrap: wrap;
}
.info .reseaux h3 {
  width: 100%;
}
.info .reseaux__icons {
  width: 100%;
}
.info .reseaux__icons img {
  align-items: center;
  height: 50px;
  padding: 1rem;
}

.skills {
  width: 66%;
  padding: 3rem 1rem 1rem 1rem;
  margin: 1rem;
  background-color: #efeef2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
.skills h2 {
  text-align: center;
  font-size: 2rem;
}
.skills .sd__bleu__ligne {
  width: 5%;
  height: 5px;
  margin-top: -1.25rem;
  margin-left: 1rem;
  background-color: #3190c0;
}
.skills .intro {
  margin: 1.5rem;
  padding-bottom: 2rem;
}
.skills .intro p {
  font-size: 1.1rem;
  padding: 3rem 1rem 0 1rem;
}
.skills .experiences {
  margin: 1.5rem;
}
.skills .experiences__step {
  display: grid;
  grid-template-areas: "one two two" "for three three" ". five five";
  grid-template-columns: 280px 1fr 1fr;
  grid-column-gap: 1rem;
  padding: 2.5rem 0 0 0;
}
.skills .experiences__step--name {
  grid-area: one;
  margin: 0;
  padding: 0.5rem 0;
  height: 20px;
  text-align: end;
  font-weight: bolder;
}
.skills .experiences__step--title {
  margin: 0;
  padding: 0.5rem 0;
  font-weight: bolder;
  text-transform: uppercase;
  grid-area: two;
  height: 20px;
}
.skills .experiences__step--loc {
  margin: 0;
  color: #0084c7;
  grid-area: three;
  padding-bottom: 1rem;
}
.skills .experiences__step--years {
  margin: 0;
  text-align: end;
  grid-area: for;
}
.skills .experiences__step--desc {
  margin: 0;
  grid-area: five;
}
.skills .hobbies {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.skills .hobbies h3 {
  border-bottom: 3px solid #98979b;
  padding: 1rem 0;
  width: 100%;
}
.skills .hobbies__content {
  display: flex;
  margin: auto;
  padding-top: 3rem;
  width: 70%;
  justify-content: space-between;
}
.skills .hobbies__content--act {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.skills .hobbies__content--act img {
  width: 70px;
}

@media screen and (max-width: 1200px) {
  body {
    min-width: 350px;
    width: 100%;
    align-items: center;
  }

  .info {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  .info h1 {
    padding: 4rem 0 6rem 0;
  }
  .info .me__pic {
    border-radius: 0 0 0 0;
  }

  .skills {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
  .skills .intro {
    margin: 1rem;
  }
  .skills h2 {
    display: flex;
    position: absolute;
    top: 500px;
    width: 100%;
    min-width: 350px;
    justify-content: center;
    margin: auto;
  }
  .skills h3 {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    margin: 0;
  }
  .skills .sd__bleu__ligne {
    width: 15%;
    height: 5px;
    margin-left: 43%;
    margin-top: -0.25rem;
    background-color: #0084c7;
  }
  .skills .experiences__step {
    display: grid;
    grid-template-areas: "one two two" "for three three" ". five five";
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    padding-bottom: 1.2rem;
    margin: 1rem;
  }
  .skills .experiences__step--years {
    padding-top: 1rem;
  }
  .skills .experiences__step--loc {
    padding-top: 1rem;
  }
  .skills .hobbies__content {
    width: 100%;
    padding: 2rem 3rem;
  }
}
@media screen and (max-width: 420px) {
  h2 {
    padding-top: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
